<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録フォーム</title>
</head>
<body>
	<h2 th:text="${title}">登録フォーム</h2>
	<form th:action="@{/process}" th:object="${attendance}" method="post">
		<label for="department">部署を選択して下さい</label><br>
		<input id="department" name="department" type="radio" value="経理部" th:checked="*{department == 1}">経理部
		<input id="department" name="department" type="radio" value="教育部" th:checked="*{department == 2}">教育部
		<input id="department" name="department" type="radio" value="営業部" th:checked="*{department == 3}">営業部
		<input id="department" name="department" type="radio" value="開発部" th:checked="*{department == 4}">開発部
		<input id="department" name="department" type="radio" value="運営部" th:checked="*{department == 5}">運営部<br>
		<div th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></div>

		<label for="workStart">出勤時間:</label> 
		<input id="workStart" name="workStart" type="time" th:value="*{workStart}"><br>
		<div th:if="${#fields.hasErrors('workStart')}" th:errors="*{workStart}"></div>

		<label for="workFinish">退勤時間:</label> 
		<input id="workFinish" name="workFinish" type="time" th:value="*{workFinish}"><br>
		<div th:if="${#fields.hasErrors('workFinish')}" th:errors="*{workFinish}"></div>

		<input type="submit" value="登録"/>
		
	</form>
	
	<h3 th:text="${indexList}">勤怠一覧</h3>
	
		<table>
			<thead>
				<tr>
					<th>部署</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attendance : ${attendances}">
					<td>[[${attendance.department}]]</td>
					<td>[[${attendance.workStart}]]</td>
					<td>[[${attendance.workFinish}]]</td>
				</tr>		
			</tbody>
		</table>
</body>
</html>